.container {
  /* background: linear-gradient(180deg, #c8a96c, #795c28); */
  background-color: #000912;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 3px 1px;
  border-radius: 100px;
  box-sizing: border-box;
}
.border {
  width: 500px;
  height: 20px;
  background: linear-gradient(180deg, #c8a96c, #795c28);
  padding: 2px;
  border-radius: 100px;
}
.unit {
  margin: 0 2px;
  width: 100%;
  height: 100%;
  background-color: #1e2328;
  box-sizing: border-box;
}
.unit__filled {
  composes: unit;
  /* border-right: solid 2px #0596aa; */
}
.unit__filled.unit__default {
  background: linear-gradient(180deg, #0596aa, #026e8f);
  border-bottom: solid 1px #0596aa;
}
.unit__filled.unit__green {
  background: linear-gradient(180deg, #369944, #294936);
  border-bottom: solid 1px #369944;
}
.unit__dimmed {
  composes: unit__filled;
  opacity: 0.5;
}
.unit:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.unit:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.icon__border {
  composes: border from '../Step/Step.module.css';
  padding: 3px;
  margin-right: -15px;
  z-index: 100;
}
.icon {
  composes: container from '../Step/Step.module.css';
  background-color: #000912;
}
.wrapper {
  display: flex;
  align-items: center;
}
